Projekt3/php/src/xml/student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="student">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="jmeno" type="xs:string"/>
                <xs:element name="prijmeni" type="xs:string"/>
                <xs:element name="studentid" type="xs:integer"/>
                <xs:element name="fakulta" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
